.join-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url("./dashboard_bg_compressed.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.join-box {
  width: 320px;
  border: 2px solid #fff;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
}

.join-box h1 {
  font-weight: 1;
  margin: 14px 0 0 0;
}

.joinInput {
  padding: 15px 20px;
  width: 100%;
  background-color: unset;
  color: #fff;
  border: none;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.room-selected {
  color: rgb(71, 71, 71);
  background-color: #ffffff75;
}

.join-box-options {
  display: block;
  border: 4px solid #fff;
  margin: 40px 20px;
  border-radius: 25px;
  cursor: pointer;
  text-align: left;
  padding: 5px 0 1px 20px;
}

.py10x50 {
  padding: 10px 50px !important;
}

.mb20 {
  margin-bottom: 20px;
}

#join-button {
  color: #000;
  background: linear-gradient(180deg, #ffffff 0%, #717171 100%);
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  color: #000;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .join-container {
    height: 100%;
  }
}
