.navbar {
    min-height: 62px;
    width: 100%;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #121212;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0;
    
}   

li {
    text-decoration: none;
}

.nav-button {
    color: #000;
    background: linear-gradient(180deg, #FFFFFF 0%, #717171 100%);
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    color: #000;
    cursor: pointer;
}

#menu-icon {
    display: none
}

@media screen and (max-width: 600px) {
    .navbar li {
        display: none
    }
    .navbar ul {
        width: unset
    }
    #menu-icon {
        display: block;
    }
    .responsive-navbar {
        top: 20px;
        right: 10px;
        position: absolute;
        display: block;
    }
    .responsive-navbar #menu-icon {
        position: absolute;
        top: 0; 
        right: 0;
    }
    .responsive-navbar li {
        display: block;
        padding-top: 15px;
    }
}