#dashboard-container {
  padding: 62px 0 0 0;
  display: flex;
  justify-content: space-between;
  height: inherit;
}

@media screen and (max-width: 600px) {
  #dashboard-container {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
}
