#tech {
    background-image: url('./tech_section.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color: #000;
    justify-items: center;
    align-content: space-around;
    position: absolute;
    bottom: 0;
    padding: 4% 15% 0 15%;
}

#tech-left {
    flex: 3;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

#tech-center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tech-right {
    flex: 2;
    text-align: right;
}

#tech-1 {
    width: 70%
}

#home {
    width: 100%;
    height: 100%;
    background-image: url('./home-banner.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
}

#home-main-screen {
    display: flex;
    align-content: space-between;
    padding-top: 35px;
    margin-left: 15%;
    margin-right: 15%;
    mix-blend-mode: normal;
    justify-content: center;
}

#home-main-screen h1 {
    max-width: 320px;
}

#left-box {
    margin: 0 8% 0 0;
    flex: 5;
}

#right-box {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    #home-main-screen {
        display: block;
    }
    #home-main-screen h1 {
        max-width: unset;
        text-align: center;
    }
    #left-box #right-box {
        width: 100%;
    }
    #left-box {
        margin: 0 0 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #right-box {
        margin: 0 0 20px 0;
    }
    #tech {
        position: relative;
        display: block;
        padding-top: 25% !important;
        margin: -15% 0 0 0;
    }
    #tech h2 {
        text-align: left;
    }
}

@media screen and (max-width: 1200px) {
    #tech {
        padding: 5% 5% 0 5%;
    }
    #home-main-screen {
        margin: 0 5%;
    }
}

@media screen and (max-width: 900px) {
    #tech-1 {
        width: 100%
    }
}