body {
  color: #ffffff;
  background: #121212;
  font-family: 'Reem Kufi', sans-serif;
}

#root {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #ffffff;
}


input::placeholder, select, textarea, textarea::placeholder, input[type='text'], input[type='email'], input[type='password'] {
  color: #fff;
  font-family: 'Reem Kufi', sans-serif;
}