body {
  color: #ffffff;
  background: #121212;
  font-family: 'Reem Kufi', sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

input[type="file"] {
  display: none;
}

input::placeholder, select, textarea, textarea::placeholder, input[type='text'], input[type='email'], input[type='password'] {
  color: #fff;
  font-family: 'Reem Kufi', sans-serif;
}