.textContainer {
  display: flex;
  flex-direction: column;
  color: white;
  height: 50%;
  justify-content: space-between;
  flex: 2;
  border: 2px solid #fff;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  margin: 0 3%;
}

.activeContainer {
  display: flex;
  align-items: center;
  padding: 0 0 0 10%;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
  font-weight: 1;
}

@media screen and (max-width: 600px) {
  .textContainer {
    display: none;
  }
}
